# Project exclude paths
/target/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Windows 10 & MyPC & Karen
*.ini
*.lnk
*.url
.gitignore

# Maven
log/
target/

#Any
.jpb


